/* Typography Nerd Redo
by Jake Zweibohmer */



/* Layout Defaults */


:root {
  --red: #ff5570;
  --gray-dark: #7d7979;
  --gray-light: #f2f2f2;
  --gray-very-light: #f6f6f6;
  --black: #000;
  --font-sans-serif: "Poppins", sans-serif;
  --font-serif: "DM Serif Display", serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-sans-serif);
  line-height: 1.4;
  margin-left: 150px;
  background-color: var(--gray-light);
}

h1 {
  font-family: var(--font-serif);
  font-size: 6em;
  line-height: 1em;
  letter-spacing: 0.05em;
  color: white;
  padding: 20px 0 0 30px;
}

h2 {
}

h5 {
  font-family: var(--font-serif);
  font-size: 4em;
  color: var(--black);
}


.flex {
    display: flex;
    justify-content: start;
    width: 100%;
}

.component {
  background-color: var(--gray-light);
}


/* Main Navigation */

.navbar {
  background: var(--gray-light);
  margin-top: 140px;
}

.nav-list {
  list-style: none;
  font-size: 1.45rem;
  font-weight: 700;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-list a {
  display: inline-block;
  text-decoration: none;
  color: var(--red);
  padding: 0.9rem;
}

.nav-list a:hover {
  color: var(--black);
}



/* Side Navigation Flyout */

.hamburger {
  width: 1em;
  margin-top: 120px;
}

.alt_nav {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.alt_nav span {
  display: block;
  font-weight: 600;
  margin-top: 10px;
}

.alt_nav .alt_nav-item {
  position: relative;
  width: 100%;
}

.main-item {
  color: var(--red);
  font-family: var(--font-sans-serif);
  font-size: 30px;
  padding: 15px 0px;
  text-align: center;
}

.flyout_menu-list {
  display: block;
  color: var(--black);
  list-style: none;
  text-decoration: none;
  font-family: var(--font-sans-serif);
  font-size: 1em;
  font-weight: 600;
  line-height: 1.1em;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 50px 0px 0px 50px;
}

.list_small {
  display: flex;
  list-style: none;
  text-decoration: none;
  color: var(--black);
  font-family: var(--font-sans-serif);
  font-size: 0.35em;
  margin-left: 25px;
  padding: 0.9rem;
}

.list_small li {
  margin-right: 30px;
}

.sub-item {
  color: var(--black);
  font-family: var(--font-sans-serif);
  font-weight: 600;
  font-size: 6em;
  background: var(--red);
  padding: 50px 0px 0px 50px;
}

.sub-item a {
  text-decoration: none;
  color: var(--black);
}

.sub-item a:hover {
  color: white;
}

.alt_nav .alt_nav-item .sub-items {
  position: absolute;
  top: 0px;
  left: -1800px;
  width: max-content;
  z-index: -1;
  transition: all 300ms ease-in-out;
}

.alt_nav .sub-items .sub-item {
  float: left;
  width: 1500px;
  height: 1000px;
}

.alt_nav .sub-item:hover {
  background: var(--red);
  cursor: pointer;
}

.alt_nav .main-item:hover{
  cursor: pointer;
}

.alt_nav .alt_nav-item:hover .sub-items {
  left: 102px;
}

.flat-list__side-nav {
  display: flex;
  list-style: none;
  align-items: center;
  transform: rotate(-90deg);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100px;
  height: 70%;
}

.flat-list__side-nav p {
  color: var(--black);
  width: 100%;
  font-size: 0.75em;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  float: left;
  margin: 20px 60px;
  vertical-align: center;
}



/* Hero Section */

.hero {
  
}

.hero h3 {
  font-family: var(--font-sans-serif);
  font-size: 1.3em;
  font-weight: 400;
  padding: 0 30px;
}

.hero a {
  color: var(--black);
  text-decoration: none;
}

.block-red {
  background-color: var(--red);
  width: 1000px;
  margin: 0;
  position: relative;
}

.hero_img {
  width: 55%;
  object-fit: cover;
  margin: 0;
  vertical-align: bottom;
  bottom: 0px;
  position: absolute;

  right: -275px;
}

.black-arrow {
  width: 48px;
  margin-top: 8px;
  margin-left: 30px;
  background: none;
}

.black-arrow a:hover {
  padding-left: 5px;
}


/* Preview Section */

.preview {
    width: auto;
    height: auto;
    margin: 50px 10px;
}

.red_box {
  width: auto;
  max-width: 450px;
  margin: 10px;
  padding: 30px 30px 60px 30px;
  border: 2px solid var(--red);
}

.preview h2 {
    font-family: var(--font-sans-serif);
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.2;
    margin: 17px 0px 10px 0px;
}

.preview h3 {
    display: inline-block;
    font-family: var(--font-sans-serif);
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 1.5;
    color: var(--red);
    margin: 30px 0px 0px 0px;
    border-bottom: 2px solid var(--red);
    padding: 0px 0px 2px 0px;
}

.preview p {
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-size: 0.95rem;
    line-height: 1.5;
    padding: 0px 3% 0px 0px;
}

.red-arrow {
    width: 48px;
    margin-top: 8px;
    background: none;
}

.red-arrow a:hover {
    padding-left: 5px;
}

.preview a {
    color: var(--black);
    text-decoration: none;
}

.preview a:hover {
    color: var(--red) !important;
}



/* Preview Section Flat List */

.flat-list {
  display: flex;
  list-style: none;
  margin-right: 50px;
  padding-left: 0;
 }
  
.flat-list > * {
  flex: 1;
  padding-right: 1rem;
}
  
.flat-list > :last-child {
  padding-right: 0;
}



/* Workshops Section */

.workshops {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  margin: 0 50px;
}

.workshops_img {
  width: 60%;
  object-fit: cover;
  margin: 0;
  opacity: 80%;
}



/* Menus Section */

.menus {
  height: auto;
  margin-left: 50px;
  margin-bottom: 30px;
}

.menus h2 {
  font-family: var(--font-sans-serif);
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.2;
  margin: 17px 0px 10px 0px;
}

.menus h3 {
  display: inline-block;
  font-family: var(--font-sans-serif);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-weight: 700;
  font-size: 0.85rem;
  line-height: 1.5;
  vertical-align: inherit;
  color: var(--red);
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 2px 0px;
}

.menus-list {
  display: block;
  list-style: none;
  font-size: 0.8em;
  font-weight: 600;
  line-height: 2.8em;
  padding: 0;
  margin-top: 40px;
}

.menus-list a {
  text-decoration: none;
  vertical-align: inherit;
  color: var(--black);
  border-bottom: 2px solid var(--black);
  padding-bottom: 0px;
}

.menus-list a:hover {
  color: var(--red);
  border-bottom: 2px solid var(--red);
  padding-bottom: 0px;
}



/* Footer Section */

footer {
  display: flex;
  padding: 0;
 }

.copyright {
  color: var(--black);
  font-size: 0.7rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  float: left;
  margin: 20px 60px;
  vertical-align: center;
}

.guaranteed {
  color: var(--red);
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  float: left;
  margin: 18px 10px;
  justify-content: center;
  border: 2px solid var(--red);
  padding: 0px 7px;
  vertical-align: center;
}



/* Upper-right Corner Graphic */

.corner-graphic {
  display: flex;
  list-style: none;
  position: fixed;
  top: 50px;
  right: 0px;
  width: 200px;
  height: 100%;
}

.corner-graphic img {
  width: 70%;
}