<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Web Components</title>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@500;600&display=swap" rel="stylesheet">        
        <link href="css/normalize.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">

            <h3>Body</h3>
            <img srcset="img/3up_text-block.png 2x" src="img/3up_text-block.png" alt="body copy and leadin">

            <h3>code</h3>

            <div class="component__code" >
                <article class="preview">
                    <a href="#!">
                            <h3>typography</h3>
                            <h2>Scripture explains</h2>
                            <p>The Anatomy of Writing — What is an arm, what is a foot or the stomach? How to describe fonts and show them off to friends and colleagues.</p>
                        <div class="red-arrow">
                            <img src="img/arrow-red.svg" alt="red arrow">
                        </div>
                    </a>
                </article>
            </div>

        </article>
        
    </body>
</html>
