<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width,initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>Web Components</title>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">        
        <link href="css/normalize.css" rel="stylesheet">
        <link href="css/main.css" rel="stylesheet">

    </head>
    <body>
        <h1>Web Components</h1>

        <h2>Typography Defaults</h2>

        <article class="component">

            <h3 class="component__name">Body</h3>
            <div class="component__img">
                <img srcset="img/3up_text-block.png 2x" src="img/3up_text-block.png" alt="body copy and leadin">
            </div>

            <div class="component__code" >
                <article class="preview">
                    <a href="#!">
                            <h3>typography</h3>
                            <h2>Scripture explains</h2>
                            <p>The Anatomy of Writing — What is an arm, what is a foot or the stomach? How to describe fonts and show them off to friends and colleagues.</p>

                            <img class="red-arrow" src="img/arrow-red.svg" alt="red arrow">
                    </a>
                </article>
            </div>
        </article>

        <h2>Main Navigation</h2>

        <article class="component">

            <h3 class="component__name">Navigation</h3>
            <div class="component__img">
                <img srcset="img/nav-list.png 2x" src="img/nav-list.png" alt="main navigation">
            </div>

            <div class="component__code" >
                <header class="navbar">
                    <div>                      
                        <nav>
                            <ul class="nav-list">
                            <li><a href="#!">typography</a></li>
                            <li><a href="#!">Fonts</a></li>
                            <li><a href="#!">Practice</a></li>
                            <li><a href="#!">magazine</a></li>
                            <li><a href="#!">feat.</a></li>
                            <li><a href="#!">quiz</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
        </article>

        <h2>Boxed Typography</h2>

        <article class="component">

            <h3 class="component__name">Boxed Text</h3>
            <div class="component__img">
                <img srcset="img/section_framed-text-block.png 2x" src="img/section_framed-text-block.png" alt="boxed body copy and leadin">
            </div>

            <div class="component__code" >
                <article class="preview">
                    <div class="red_box">
                    <a href="#!">
                        <h3>InDesign workshops</h3>
                        <h2>Step-by-step instructions for all practitioners</h2>
                    </a>
                        <p>Lots of typography workshops for the InDesign and Illustrator programs. Everything from the ligature function to the best hyphenation settings is explained here.</p>
                    <a href="#!">
                        <img class="red-arrow" src="img/arrow-red.svg" alt="red arrow">
                    </a>
                </div>
                </article>
            </div>
        </article>

        <h2>Boxed Typography with Image</h2>

        <article class="component">

            <h3 class="component__name">Boxed Text with Image</h3>
            <div class="component__img">
                <img srcset="img/section_image-framed-text1.png 2x" src="img/section_image-framed-text1.png" alt="boxed body copy and leadin with image">
            </div>

            <div class="component__code" >
                <article class="preview">
                    <div class="red_box">
                    <a href="#!">
                        <h3>InDesign workshops</h3>
                        <h2>Step-by-step instructions for all practitioners</h2>
                    </a>
                        <p>Lots of typography workshops for the InDesign and Illustrator programs. Everything from the ligature function to the best hyphenation settings is explained here.</p>
                    <a href="#!">
                        <img class="red-arrow" src="img/arrow-red.svg" alt="red arrow">
                    </a>
                </div>
                </article>
            </div>
        </article>

    </body>
</html>
